import(methods)
import(DBI)
import(RSQLite)
import(IRanges)
import(Biostrings)
import(BSgenome)
import(biomaRt)

importFrom(rtracklayer,
  ucscGenomes,
  browserSession,
  genome,
  "genome<-",
  ucscTableQuery,
  getTable
)

exportClasses(GenomicFeatures, TranscriptDb)

export(
  transcripts_deprecated,
  exons_deprecated,
  introns,
  extractTranscriptsFromGenome,
  makeTranscriptDb,
  makeTranscriptDbFromUCSC,
  makeTranscriptDbFromBiomart,
  saveFeatures,
  loadFeatures,
  as.list,
  transcripts,
  exons,
  cds,
  transcriptsByRanges,
  exonsByRanges,
  cdsByRanges,
  bindTranscripts,
  bindExons,
  bindCDS
)

exportMethods(
  as.list
)
